baseURL = "https://blog.koh-sh.com"
title = "koh's blog"
hasCJKLanguage = true
summaryLength = 80
languageCode = "ja"
defaultContentLanguage = "ja"
enableRobotsTXT = true

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 100
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 150
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 200
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 250
  [[menu.main]]
    identifier = "contributions"
    name = "Contributions"
    url = "/contributes/"
    weight = 300

[params]
  title = "koh's blog"
  author = "koh-sh"
  description = "I'm an SRE who previously worked as a system administrator and infrastructure engineer."
  profilePicture = "avatar.avif"
  images = ["avatar.png"]  # OGP default image
  mainSections = ["posts"]
  postSectionName = "posts"
  
  # Anatole specific settings
  displayMode = "auto"  # auto, dark, light
  doNotLoadAnimations = false
  showBorder = false
  showReadTime = true
  
  # Custom CSS files for targeted fixes
  customCss = ["css/contributions.css", "css/text-wrapping.css", "css/about.css"]
  
  [[params.socialIcons]]
    icon = "fab fa-github"
    title = "GitHub"
    url = "https://github.com/koh-sh"
  [[params.socialIcons]]
    icon = "fab fa-twitter"
    title = "Twitter"
    url = "https://twitter.com/koh_sh"
  [[params.socialIcons]]
    icon = "fas fa-link"
    title = "Zenn"
    url = "https://zenn.dev/koh_sh"

[outputs]
    home = ["HTML", "RSS"]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = false
  [markup.highlight]
    style = "github"
    lineNos = true
    lineNumbersInTable = false
    noClasses = false

[module]
[[module.imports]]
  path = 'github.com/lxndrblz/anatole'

[pagination]
pagerSize = 3
