{{ define "main" }}
{{- $contributionsCSS := resources.Get "css/components/contributions.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $contributionsCSS.RelPermalink }}" integrity="{{ $contributionsCSS.Data.Integrity }}">

{{- $contributionsJS := resources.Get "js/contributions.js" | resources.Minify }}
<script src="{{ $contributionsJS.RelPermalink }}" integrity="{{ $contributionsJS.Data.Integrity }}" defer></script>

<div class="page">
    <div class="page-header">
        <h1 class="page-title">{{ .Title }}</h1>
    </div>
    <div id="contributions-list" class="contributions-content"></div>
</div>
{{ end }}