{{ define "main" }}

{{- $contributionsCSS := resources.Get "css/contributions.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $contributionsCSS.RelPermalink }}" integrity="{{ $contributionsCSS.Data.Integrity }}">

{{- $contributionsJS := resources.Get "js/contributions.js" | resources.Minify }}
<script src="{{ $contributionsJS.RelPermalink }}" integrity="{{ $contributionsJS.Data.Integrity }}" defer></script>

<div class="post">
    <div class="post__content">
        <h1>{{ .Title }}</h1>
        <div id="contributions-list" class="contributions-content"></div>
    </div>
</div>
{{ end }}
