{{ if ne .Title "About" }}
{{- $shareCSS := resources.Get "css/components/share-buttons.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $shareCSS.RelPermalink }}" integrity="{{ $shareCSS.Data.Integrity }}">

<div class="share-buttons">
    <span class="share-label">Share on:</span>
    <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" 
       class="twitter-share-button share-button" 
       data-show-count="false"
       target="_blank"
       rel="noopener">
        <svg class="share-icon" viewBox="0 0 24 24">
            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
        </svg>
        Tweet
    </a>
    <a href="https://b.hatena.ne.jp/entry/" 
       class="hatena-bookmark-button share-button" 
       data-hatena-bookmark-layout="basic-counter" 
       title="このエントリーをはてなブックマークに追加"
       target="_blank"
       rel="noopener">
        <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" 
             alt="はてなブックマーク" 
             class="hatena-icon">
        はてブ
    </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
{{ end }}